.album {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 200px;
    margin: 20px 0 20px 0;
}

.cover {
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.info {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info > div {
    margin: 0 0 12px 0;
}