.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.albums {
    padding: 20px 0 20px 0;
    width: 60%;
    margin: 90px 0 30px 0;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}